<div class="container__small-card-content">
    <div class="container__small-card">
        <div class="small-card__photo">
            <img 
                src="https://www.honda.com.br/automoveis/sites/hab/files/2023-01/003_Tencnologia.jpg"
                alt="placeholder"
            >
        </div>

        <div class="small-card__title">
            <h1><a href="#">Tecnologia</a></h1>
        </div>
    
    </div>

    <div class="container__small-card-separator">
        <hr>
    </div>
    
</div>

